{
  "globals": {
    // Put things like jQuery, etc
    "jQuery": true,
    "$": true,
    "Dojo": true,
    "RequireJS": true,
    "Node.js": true,
    "Meteor" : true, 
    "es6" : true,


  },
  "env": {
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true,
    //for new ES6 global variables
    "es6": true,
    // defines require() and define() as global variables as per the amd spec.
    "and" : true,
    // testing frameworks
    "mocha" : true, 
    "jasmine" : true,
    "jest" : true,  
  },
  },
  // To give you an idea how to override rule options:
  "rules": {
    // Tons of rules you can use, for example...
    "quotes": [1, "double"]
  }
     "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
        };
}